{% extends "base.html" %}

{% block content %}

<div class="card-box">

    <h1>

        Welcome to MediRAG 👋

    </h1>

    <br>

    <p>

        AI Medicine Information Assistant powered by Retrieval-Augmented Generation (RAG).

    </p>

</div>

<div class="row">

    <div class="col-md-4">

        <div class="card-box">

            <h3>📄 Documents</h3>

            <h2>52</h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card-box">

            <h3>📖 Pages</h3>

            <h2>363</h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card-box">

            <h3>✂ Chunks</h3>

            <h2>1144</h2>

        </div>

    </div>

</div>

<div class="card-box">

    <h2>

        🚀 Quick Actions

    </h2>

    <br>

    <a href="/chat"
       class="btn btn-primary">

        Ask AI

    </a>

    <!-- <a href="/upload"
       class="btn btn-success">

        Upload PDFs

    </a> -->

</div>

{% endblock %}